body{
  background-color: whitesmoke;
}

header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:midnightblue;
  color: midnightblue;
}

header h1{
  display: inline-block;
  padding-left: 80px;
  padding-right: 20px;
  font-size: 40px;
  background-color: whitesmoke;
}

nav{
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

.links{
  display: flex;
}

.links a{
  padding: 20px;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5%;
}


.welcome{
  background-image: url(../images/welcome-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section h2{
  display: flex;
  padding-right: 60px;
  padding-left: 20px;
  justify-content: flex-end;
  float:right;
  color:midnightblue;
  background-color: rgba(245, 245, 245, 0.862);
}

.section-parent{
  display: flex;
  padding: 20px;
}

.left-side-aboutme{
  width: 130px;
  padding: 10px;
}

.about-me-detail{
  border-left: 3px solid midnightblue;
  display: flex;
}

#my-photo{
  max-height: 240px ;
}

#about-me{
  /* margin-left: 30px; */
  padding: 20px;
}



.about-me-detail > p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
  font-size: 18px;
  color:midnightblue;
}

.left-side-work{
  width: 130px;
  padding: 10px;
}

.work-detail{
  border-left: 3px solid midnightblue;
  width: 100%;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: left;
}



#left-side.about-me{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  border-left-width: medium;
  border-color: black;
}

#right-side.about-me{
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  padding: 20px;
}


section h3{
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 30px;
  color:midnightblue;
}

h4{
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  margin-top: -10px;
}

.opacity-back > p{
  color: whitesmoke;
  font-size: 12px;
  margin-top: -15px;
}

.work{
  display: inline-block;
}

#left-side.work{
  display: flex;
  float: left;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  border-left-width: medium;
  border-color: black;
}

.first-job{
  display: flex;
  background-image: url(../images/jobjourney.png);
  background-size:cover;
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 70%;
}

.second-job{
  display: flex;
  background-image: url(../images/project02.png);
  background-size:cover;
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 70%;
}

.third-job{
  display: flex;
  background-image: url(../images/firstjobproject1.png);
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 70%;
}

.fourth-job{
  display: flex;
  background-image: url(../images/actual-job.jpg);
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 70%;
}

.fifth-job{
  display: flex;
  background-image: url(../images/second-job.jpeg);
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 70%;
}


.opacity-back{
  background-color: midnightblue;
  color: whitesmoke; 
  font-size: 10px;
  padding: 10px;
  border: 3px solid midnightblue;
}

#ob1{
  height: 5%;
  margin-top: 30px;
}

#ob2,#ob3,#ob4,#ob5{
  height: 20%;
  margin-top: 15px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
}

.grid-item:hover{
  opacity: 100%;
}
.first-job:hover{
  opacity: 100%;
}

.grid-item{
  border: 5px solid midnightblue;
}

.contact-me{
  border-left: 3px solid midnightblue;
  width: 100%;
  padding: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align:center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.contact-me a{
  padding: 20px;
}

footer{
  background-color: midnightblue;
  color: whitesmoke;
  height: 30px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer p{
  padding: 7px;
}